#confusion_matrix tr td {
    text-align: right;
    width: 30px;
}

#confusion_matrix tr:first-child td {
    font-size: 0.8em;
    vertical-align: bottom;
}

#confusion_matrix tr td:first-child {
    font-size: 0.8em;
    text-align: right;
    white-space: nowrap;
}
